.nav-list {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4rem;
}

.myLogo {
	height: 30rem;
	width: 30rem;
	background-color: hsl(192, 100%, 80%);
	border-radius: 50%;
}

.home-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 4rem;
	.home-name {
		font-size: 2rem;
    	margin-bottom: 0;
	}
	.home-position {
		font-size: 1.5rem;
		span {
			font-size: 1.5rem;
		}
	}
}