.nav-section {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.nav-list {
	display: flex;
    justify-content: flex-end;
    li {
    	list-style: none;
    	margin-right: 3rem;
    	a {
    		font-size: 2rem;
    		text-decoration: none;
    	}
    }
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-center {
	text-align: center;
}